* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    margin: auto;
    height: 200px;
    width: 1000px;
}

h1 {
    font-size: 2.5rem;
}

#library-table {
    width: 100%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-collapse: collapse;
}

#library-table td, th {
    padding: 6px;
}

#library-table th {
    background-color: rgb(223, 223, 223);
    font-weight: bold;
    font-size: 1.1rem;
}

.title {
    width: 35%;
}

.author {
    width: 35%;
}

.pages {
    width: 15%;
}

.read {
    width: 15%;
}

.form-submit {
    display: inline;
    position: relative;
    left: 1015px;
    top: 58px;
}
